{% extends 'base.html' %}
{% block content %}
  {% if acts %}
    {% for act in acts %}      
      <div class="card my-1">
        <h6 class="card-header">{{act.activity}}</h6>
        <div class="card-body">
          <p>{{ act.time.strftime('%d-%m-%Y')}}</p>
          <p>{{ act.time.strftime('%H:%M %p')}}</p>
          <hr>
          <p>Input</p>
          <p>Output</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <h3 class="mt-4 ml-4">No previous activity</h3>
  {% endif %}
{% endblock %}