<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Anubhooti Solutions</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color:  #0f161e;;" >
            <div class="container-fluid d-flex flex-column p-0">
                <a href="{{url_for('users.index')}}"><img class="col mt-3" src="{{url_for('static',filename='assets/img/logo.png')}}" style="height:2rem;width:4rem;"></a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" style="margin-top:3rem;" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.index')}}"><i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i><span>Home</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.tts')}}"><i class="fas fa-volume-up fa-sm fa-fw mr-2 text-gray-400"></i><span>Text-To-Speech</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.transcribe')}}"><i class="fas fa-file-text fa-sm fa-fw mr-2 text-gray-400"></i><span>Transcribe Speech</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.emotions')}}"><i class="fas fa-smile fa-sm fa-fw mr-2 text-gray-400"></i><span>Emotion Detection</span></a></li>
                    <hr style="margin-left:1rem;margin-right:1rem;background-color:white;width:auto;">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.settings')}}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i><span>Settings</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.activity')}}"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i><span>Activity Log</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('users.logout')}}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i><span>Log Out</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <nav class="navbar" style="background-color: #325ee4;">
                <div class="navbar-brand">
                    <div class="row">
                        <h3 class="col mt-2 mb-0" style="font-family: 'Nunito', sans-serif;color:white;height:3rem;font-size:1.5rem;">ANUBHOOTI SOLUTIONS</h3>    
                    </div>
                </div>
            </nav>
            <div id="content" class="ml-4 mr-4 pt-3">
                {% block content %}
                
                {% endblock %}
            </div>

            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Anubhooti Solutions 2020</span></div>
                </div>
            </footer>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{url_for('static',filename='theme.js')}}"></script>


</body>

</html>