{% extends 'base.html' %}
{% block content %}
<h4>Emotion-Detection</h4>
    <div>
        <br><br>
        <label for="token_id">Token ID</label>
        <input type="text" id='token_id'>
    </div>
    <br><br>
    <div>
      <form method="POST" action="upload" enctype=multipart/form-data>
        <input type="file" name="myFile" id="myFile">
        <button class="btn btn-primary"><span class="fas fa-upload col-md-2"></span> Upload the file</button>
    </form>
    </div>
<br><br>
<form>
    <select id="mySelect" onchange="myFunction()" class="custom-select col-md-2 mt-4">
      <option>Left Channel</option>
      <option>Right Channel</option>
    </select>
  </form>
{% endblock %}