{% extends 'base.html' %}
{% block content %}
<style>
    .box{
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
    }
    .box:focus{
        border: none;
        border-bottom: 1px solid #325ee4;
        outline: none;
    }
</style>
<form method="POST">
    {{form.hidden_tag()}}
    <div class="row m-4">
        <label for="#o" class="mt-1 col-sm-3 mr-3">Current Password</label>
        <div id="o" class=col-md>{{form.current_password(class="box",style="width:15rem;")}}</div>
        {% if incorrect %}
        <p style="color:red;">Incorrect password. Please try again.</p>
        {% endif %}
        {% if form.current_password.errors %}
            {% for error in form.current_password.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row m-4">
        <label for="#n" class="mt-1 col-sm-3 mr-3">New Password</label>
        <div id="n" class="col-md">{{form.new_password(class="box",style="width:15rem;")}}</div>
        {% if form.new_password.errors %}
            {% for error in form.new_password.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row m-4">
        <label for="#cn" class="mt-1 col-sm-3 mr-3">Confirm New Password</label>
        <div id="cn" class="col-md">{{form.confirm_new_password(class="box",style="width:15rem;")}}</div>
        {% if form.confirm_new_password.errors %}
            {% for error in form.confirm_new_password.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        {% endif %}
    </div>
    {{form.submit(class="btn btn-md btn-outline-primary ml-4 mt-4")}}
    {% if success %}
    <div class="alert alert-success" style="width:18rem;margin-top:3rem;margin-left:3rem;">
        Password changed successfully!
    </div>
    {% endif %}
</form>
{% endblock %}