{% extends 'index.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Anubhooti Solutions</title>
</head>
<body>
    {% block content %}
        <section class="text-center pb-5 jumbotron" style="background-color: #0f161e;border-radius:0;margin-top:0;margin-bottom:0;" id="products">
        <h2 class="mb-2 mt-5 text-white">Pricing</h2>
        <hr class="col-lg-3 bg-white mb-5" style="width:2rem;height:0.3rem;">
        <div class="row mt-5 mb-5 pt-4 pb-5">
            <div class="col-sm-4 mt-2" style="border-radius:1rem; ">
                <div class="card col mycard" style="background-color:  #bedae8;">
                    <h1 class="mt-5 mb-5">FREE</h1>
                    <h5>Basic</h5>
                    <hr style="height:0.5rem;">
                    <ul class="list-group">
                        <li style="background-color:  #bedae8;" class="list-group-item">Process upto 180 characters of text.</li>
                        <li style="background-color:  #bedae8;" class="list-group-item">Process upto 10 minutes of audio files.</li>
                    </ul>
                    <a href="#" class="btn btn-success mt-4 mb-4">Proceed</a>
                </div>
            </div>
            <div class="col-sm-4 mt-2" style="border-radius:1rem;">
                <div class="card col mycard" style="background-color:  #bedae8;">
                    <h1 class="mt-5 mb-5">₹ 1000</h1>
                    <h5>Standard</h5>
                    <hr style="height:0.5rem;">
                    <ul class="list-group">
                        <li style="background-color:  #bedae8;" class="list-group-item">Process upto 2000 words of text.</li>
                        <li style="background-color:  #bedae8;" class="list-group-item">Process upto 2 hours of audio files.</li>
                    </ul>
                    <a href="#" class="btn btn-info mt-4 mb-4"><span style="color:#FFD700;margin-right:0.5rem;">♕ </span> Proceed</a>
                </div>
            </div>
            <div class="col-sm-4 mt-2" style="border-radius:1rem; ">
                <div class="card col mycard" style="background-color:  #bedae8;">
                    <h1 class="mt-5 mb-5">₹ 5000</h1>
                    <h5>Premium</h5>
                    <hr style="height:0.5rem;">
                    <ul class="list-group">
                        <li style="background-color:  #bedae8;" class="list-group-item">Process upto 10,000 words of text.</li>
                        <li style="background-color:  #bedae8;" class="list-group-item">Process upto 10 hours of audio files.</li>
                    </ul>
                    <a href="#" class="btn btn-info mt-4 mb-4"><span style="color:#FFD700;margin-right:0.5rem;">♕ </span> Proceed</a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>

