{% extends 'index.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Anubhooti Solutions</title>
</head>
<body>
    {% block content %}
    <section class="text-center pb-5 jumbotron" style="background-color: #0f161e;border-radius:0;margin-bottom:0;" id="products">
        <h2 class="mb-2 mt-5 text-white">Our Products</h2>
        <hr class="col-lg-3 bg-white mb-5" style="width:2rem;height:0.3rem;">
        <div class="row text-center offset-md-1 mt-5 mb-5 pt-4 pb-5">
            <div class="card col-md-3 ml-4 mr-4 mt-2 mycard" style="background-color: #bedae8;">
                <i class="card-img-top fa fa-4x fa-volume-up mt-5 mb-3" aria-hidden="true"></i>
                <div class="card-body">
                    <h5 class="card-title mt-5 mb-4">Text-To-Speech</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-5 mb-2">Explore<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="card col-md-3 ml-4 mr-4 mt-2 mycard" style="background-color: #bedae8;">
                <i class="card-img-top fa fa-file-text-o fa-4x mt-5 mb-3" aria-hidden="true"></i>
                <div class="card-body">
                    <h5 class="card-title mt-5 mb-4">Speech-To-Text</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-5 mb-2">Explore<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="card col-md-3 ml-4 mr-4 mt-2 mycard" style="background-color: #bedae8;">
                <i class="card-img-top fa fa-4x fa-smile-o mt-5 mb-3" aria-hidden="true"></i>
                <div class="card-body">
                    <h5 class="card-title mt-5 mb-4">Emotion Detection</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-5 mb-2">Explore<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>



