{% extends 'index.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Login - Anubhooti Solutions</title>
    </head>
    <body>
        {% block content %}
        <style type='text/css'>
            .box{
                width:20rem;
                background:transparent;
                border:none;
                border-bottom: 1px solid white;
                color:white;
            }
            .box:focus{
                border: none;
                border-bottom: 1px solid #b5d9ef;
                outline: transparent;
            }
            .mybutton:hover{
                background-color:#0b8abc;
                color:white;
                border: 1px solid #0b8abc;
            }
        </style>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
        {% endfor %}
        <header style="height:50rem;background:url('/static/assets/img/tech2.jpg')no-repeat center center;background-size:cover;">
            <div class="container text-white text-center">
                <div class="row" style="text-align: center; display: inline;">
                    <div class="col-xl-9 mx-auto text-light mt-5">
                        <h1>Sign Up</h1>
                    </div>
                    <form action="/register" method="POST" style="text-align: center;">
                        {{ form.csrf_token }}
                        <div class="col-xl-9 mx-auto text-light mt-3">
                            {{form.name(placeholder="Name",class="box mt-3",autocomplete="off")}}
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <p style="color:red;">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xl-9 mx-auto text-light mt-3">
                            {{form.email(placeholder="Email",class="box mt-3",autocomplete="off")}}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <p style="color:red;">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xl-9 mx-auto text-light mt-3">
                            {{form.number(placeholder="Contact Number",class="box mt-3",autocomplete="off",maxlength=10)}}
                            {% if form.number.errors %}
                                {% for error in form.number.errors %}
                                    <p style="color:red;">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xl-9 mx-auto text-light mt-3">
                            {{form.password(placeholder="Password",class="box mt-3",autocomplete="off",onmouseout="this.type='password'",onmousemover="this.type='password'")}}
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <p style="color:red;">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xl-9 mx-auto text-light mt-3">
                            {{form.confirm_password(placeholder="Confirm Password",class="box mt-3",autocomplete="off",onmouseout="this.type='password'",onmousemover="this.type='password'")}}
                            {% if form.confirm_password.errors %}
                                {% for error in form.confirm_password.errors %}
                                    <p style="color:red;">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xl-9 mx-auto text-light mt-4">
                            {{ form.submit(class="btn btn-md btn-light mybutton") }}
                        </div>
                        <div class="col-xl-9 mx-auto text-light mt-4">
                            Already have an account?
                            <a href="/login">Log In</a>
                        </div>                       
                    </form> 
                </div>
            </div>
        </header>
        {% endblock %}
    </body>
</html>