{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4 mt-4 mr-2 card">
        <div class="row">
            <h3 class="mt-4 mb-4 ml-4">Subscription</h3>
            <i class="fa fa-credit-card fa-2x mt-4 mb-4 ml-4" style="color:rgb(46, 46, 121);" aria-hidden="true"></i>
        </div>
        <ul class="list-group mb-3">
            <li class="list-group-item" style="border:0;">Type: {{user.membership}}</li>
            <li class="list-group-item" style="border:0;">Words left: {{user.words_left}}</li>
            <li class="list-group-item" style="border:0;">Duration left: {{user.time_left}} minutes</li>
            {% if user.membership !='FREE' %}
            <li class="list-group-item" style="border:0;">Validity: 30 days</li>
            {% else %}
            <a href="{{url_for('users.subscribe')}}" class="btn btn-md btn-primary m-auto">Subscribe</a>
            {% endif %}
        </ul>
    </div>
    <div class="col-sm-4 mt-4 card">
        <div class="row">
            <h3 class="mt-4 mb-4 ml-4">Account</h3>
            <i class="fa fa-user-o fa-2x mt-4 mb-4 ml-4" style="color:rgb(46, 46, 121);" aria-hidden="true"></i>
        </div>
        <ul class="list-group mb-3">
            <li class="list-group-item" style="border:0;"><p style="word-break:normal;">Name: {{user.name}}</p></li>
            <li class="list-group-item" style="border:0;"><p style="word-break:normal;">Email: {{user.email}}</p></li>
            <li class="list-group-item" style="border:0;"><p style="word-break:normal;">Phone Number: {{user.number}}</p></li>
        </ul>
    </div>
</div>
{% endblock %}